@using SFA.DAS.EmployerApprenticeshipsService.Web
@using SFA.DAS.EmployerApprenticeshipsService.Web.Models
@model OrchestratorResponse<SummaryViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        <table class="check-your-answers">
            <thead>
                <tr>
                    <th colspan="2">
                        <h2 class="heading-medium">
                            Create an Employer account
                        </h2>
                        <p>To create a new employer account you need the following information, once you have this information please select the section to complete.<br/><br/>Once you have completed the steps you can continue and create the account.</p>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Company number</td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Data.CompanyNumber)) {
                            @Model.Data.CompanyNumber
                            <br/>
                            @Model.Data.CompanyName 
                        } else {
                            <span>Not started</span>
                        }
                    </td>
                    <td class="change-answer">
                        <a href="@Url.Action("SelectEmployer", "EmployerAccount")">
                            @(string.IsNullOrEmpty(Model.Data.CompanyNumber) ? "Start" : "Change")
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        PAYE Scheme ref
                    </td>
                    <td>
                        @(!string.IsNullOrEmpty(Model.Data.EmployerRef) ? Model.Data.EmployerRef : "Not Started")
                    </td>
                    <td class="change-answer">
                        <a href="@Url.Action("Gateway", "EmployerAccount")">
                            @(string.IsNullOrEmpty(Model.Data.EmployerRef) ? "Start" : "Change")
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 style="margin-top: 100px;" class="heading-small">Create an Account based on these details?</h3>
        <form method="POST" action="@Url.Action("CreateAccount")">
            <button type="submit" class="button" @(Model.Data.IsReady ? "" : "disabled=\"disabled\"")>Create account</button>&nbsp;&nbsp;&nbsp;<a class="link" href="/">Cancel</a>
            @if(!Model.Data.IsReady)
            {
                <p>
                    To continue, fill out the details above.
                </p>
            }
        </form>
    </div>
</div>
