@using SFA.DAS.EmployerApprenticeshipsService.Web.Models
@using SFA.DAS.EmployerApprenticeshipsService.Web.Controllers

@model CreateCommitmentViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Who should add apprentices?</h1>
        <p class="">You can add details of your apprentices (your cohort) or ask your training provider to add them for you.</p>
        <p>If you ask your training provider to add them, you will still need to check and approve the details they add.</p>


        <form method="POST" action="@Url.Action("ChoosePath")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <fieldset>
                    <div>
                        @Html.ValidationMessageFor(m => m.LegalEntityCode, "Please choose an option from the list.")
                    </div>
                    <label class="block-label selection-button-radio" for="AddApprenticesOption">
                        @Html.RadioButton("PathOption", CreateCohortOptions.AddApprentices, new { id = "AddApprenticesOption" })
                        I will add apprentices
                    </label>
                    <label class="block-label selection-button-radio" for="SendToProviderOption">
                        @Html.RadioButton("PathOption", CreateCohortOptions.SendToProvider, new { id = "SendToProviderOption" })
                        I'd like my provider to add apprentices
                    </label>
                </fieldset>
            </div>
            <input type="hidden" id="legalEntityCode" name="legalEntityCode" value="@Model.LegalEntityCode" />
            <input type="hidden" id="providerId" name="providerId" value="@Model.ProviderId" />
            <button type="submit" class="button">Save and continue</button>
        </form>
    </div>
    <div class="column-one-third"></div>
</div>